.bg-radial-gradient {
  background: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(0, 153, 255, 0.25),
    rgba(255, 255, 255, 0)
  );
  /* Otros estilos según sea necesario */
  width: 100%;
  height: 50rem;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

html{
  font-family: Onest Variable, sans-serif !important;
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(2 6 23 / var(--tw-bg-opacity));
}

.p-2{
  padding: 2rem !important;
}

.dark\:text-crusta-300 {
  --tw-text-opacity: 1;
  color: rgb(255 178 114 / var(--tw-text-opacity)) !important;
}

.dark\:text-primary-400 {
  --tw-text-opacity: 1;
  color: rgb(44 201 255 / var(--tw-text-opacity));
}

.subtitulo2{
  color: rgba(182,234,255,.9) !important;
}

.titulocelestito{
  --tw-text-opacity: 1;
  color: rgb(44 201 255 / var(--tw-text-opacity)) !important;
}